@import './styles/variables.css';

* {
  box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--color-primary);
}

h1,
h2,
h3,
p {
  margin-top: 0;
}
